<div class="content">
  <h1>Caribou with Ember</h1>
  <p>
    This is just a test. Nothing to see here. Move along. <a href="http://emblemjs.com">
    Emblem.js</a> for any of your templates.
  </p>
</div>

